name: Demoscene Toolchain

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container: cahirwpz/demoscene-toolchain:latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Download archives
      run: ./toolchain-m68k --quiet download

    - name: Build toolchain
      run: ./toolchain-m68k --quiet build --prefix=/usr/local

    - name: Archive toolchain
      run: tar cf demoscene-toolchain.tar /usr/local

    - name: Upload toolchain
      uses: actions/upload-artifact@v3
      with:
        name: demoscene-toolchain
        path: demoscene-toolchain.tar
